@import "../../shared/styles/mixins";

.events {
  background-color: $color-white;
  margin-bottom: 110px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    // padding: 60px 0;
  }
}

.container {
  @include container;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  @include h3;
  color: $color-black;
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 76px;
  }

  @include mobile {
    margin-bottom: 40px;
  }
}

.eventsList {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include tablet {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  @include mobile {
    gap: 40px;
  }
}

.event {
  display: flex;
  gap: 30px;
}

.imageWrapper {
  max-width: 370px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
}

.eventDate {
  @include main-text;
  color: $color-main;
  margin-bottom: 10px;
}

.eventTitle {
  @include h4;
  color: $color-black;
  margin-bottom: 20px;
}

.description {
  @include main-text;
  color: $color-gray;
  margin-bottom: 50px;

  @include mobile {
    margin-bottom: 24px;
  }
}

.calendarButtonWrapper {
  display: flex;
  justify-content: center;
}
