@import "../../shared/styles/mixins";

.planVisit {
  position: relative;
  height: 800px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: $color-bg;

  @include tablet {
    min-height: 500px;
  }

  @include mobile {
    min-height: 400px;
  }
}

.backgroundImage {
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}

.container {
  @include container;
  position: relative;
  z-index: 1;
  width: 100%;
}

.content {
  margin-left: 500px;
  max-width: 670px;

  @include tablet {
    max-width: 100%;
  }
}

.title {
  @include h2;

  color: $color-white;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include mobile {
    margin-bottom: 24px;
  }
}

.description {
  @include main-text;
  color: $color-white;
  margin-bottom: 50px;
  max-width: 470px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include mobile {
    margin-bottom: 32px;
  }
}
