@import "../../shared/styles/mixins";

.news {
  margin: 110px 0 200px 0;
  background-color: $color-white;

  @include tablet {
    margin: 110px 0 160px 0;
  }

  @include mobile {
    padding: 60px 0;
  }
}

.container {
  @include container;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 53px;

  @include tablet {
    margin-bottom: 70px;
  }
}

.title {
  @include h3;
  color: $color-black;

  @include mobile {
    margin-bottom: 40px;
  }
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  // @include tablet {
  //   grid-template-columns: 1fr;
  //   gap: 60px;
  // }

  @include mobile {
    gap: 40px;
  }
}

.newsItem {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 20px;
  min-height: 320px;
  object-fit: cover;
  object-position: center;

  @include mobile {
    margin-bottom: 24px;
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
  min-height: 320px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.newsDate {
  @include additional-text;
  color: $color-black;
}

.newsTitle {
  @include h5;
  color: $color-black;
  margin-bottom: 18px;
}

.description {
  @include main-text;
  color: $color-gray;
}

.allNewsButtonWrapper {
  display: flex;
  justify-content: center;
}
