// Desktop spacing
$desktop-max-width: 1280px;
$desktop-content-width: 1170px;
$desktop-margin: 55px;
$desktop-gutter: 30px;

// Tablet spacing
$tablet-max-width: 768px;
$tablet-content-width: 690px;
$tablet-margin: 39px;
$tablet-gutter: 30px;

// Mobile spacing
$mobile-max-width: 320px;
$mobile-content-width: 280px;
$mobile-margin: 20px;
$mobile-gutter: 20px;

// Common spacing
$header-height: 90px;
$button-height: 60px;
$button-width: 270px;
