@import "../../shared/styles/mixins";

.exhibitions {
  padding: 110px 0 200px 0;
  background-color: $color-white;

  @include tablet {
    padding: 100px 0 160px 0;
  }

  @include mobile {
    padding: 90px 0 120px 0;
  }
}

.container {
  @include container;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

  @include mobile {
    margin-bottom: 60px;
  }
}

.title {
  @include h3;
  color: $color-black;
}

.exhibitionsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $desktop-gutter;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 60px;
    margin-bottom: 30px;
  }
}

.exhibition {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 20px;
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.exhibitionDate {
  @include main-text;
  color: $color-main;
  margin-bottom: 10px;
}

.exhibitionTitle {
  @include h4;
  color: $color-black;
  margin-bottom: 20px;
}

.description {
  @include main-text;
  color: $color-gray;
  margin-bottom: 50px;
  margin-top: auto;

  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.archiveButtonWrapper {
  display: flex;
  justify-content: center;
}
