@import "../../shared/styles/mixins";

.hero {
  position: relative;
  height: 800px;
  display: flex;
  overflow: hidden;
  background-color: $color-bg;

  @include tablet {
    min-height: 1092px;
  }

  // @include mobile {
  //   min-height: 500px;
  // }
}

.backgroundImage {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  object-position: right;
  max-height: 800px;

  @include tablet {
    height: 496px;
    width: 443px;
    right: 50%;
    transform: translateX(50%);
  }
}

.container {
  @include container;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 180px;
}

.content {
  max-width: 572px;

  @include tablet {
    max-width: 100%;
  }
}

.title {
  @include h1;
  color: $color-white;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.subtitle {
  @include main-text;
  color: $color-white;
  margin-bottom: 81px;

  @include tablet {
    margin-bottom: 50px;
  }
}

.date {
  @include additional-text;
  color: $color-white;
  margin-bottom: 10px;

  @include mobile {
    margin-bottom: 32px;
  }
}

.durationBadge {
  margin-top: 135px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    display: none;
  }
}

.divider {
  height: 1px;
  width: 472px;
  background-color: $color-white;
  opacity: 0.3;
}

.duration {
  @include h6;
  color: $color-white;
  opacity: 0.7;
}
